<!DOCTYPE html>
<html>
  <head>
    <title>JThrifts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About</h1>
    <h2>JThrifts</h2>
    <p>Welcome to JThrifts. This is my clothing website. I enjoy thrifting as a hobby, this site is where I will put some of my
        best findings for sale.
    </p>
  </body>
</html>
