<!DOCTYPE html>
<html>
  <head>
    <title>JThrifts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact</h1>
    <h2>JThrifts</h2>
    <p>Contact me at jreyes1919@gmail.com</p>
  </body>
</html>
