<h1>oops...</h1>
<h2>We are currently having technical difficulties...</h2>
<h2>Try again in a little bit!</h2>

<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->