<!DOCTYPE html>
<html>
  <head>
    <title>JThrifts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Help</h1>
    <h2>JThrifts</h2>
    <p>This is my help page</p>
  </body>
</html>
