<!DOCTYPE html>
<html>
  <head>
    <title>JThrifts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>JThrifts</h1>
        <p>Joseph Reyes. This is my index page.</p>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
  </body>
</html>
