<!DOCTYPE html>
<html>
  <head>
    <title>JThrifts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Privacy</h1>
    <h2>JThrifts</h2>
    <p>All rights reserved. This is my privacy page</p>
  </body>
</html>
